@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --color1: rgb(26, 26, 26);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* Side nav */
nav {
    background-color: var(--color1);
}
.greeting {
    font-size: 25px;
}

.greeting #greeting2 {
    font-family: 'Roboto';
    font-size: 50px;
}
